/hybris/config/custom.properties
/hybris/bin/platform/
/hybris/bin/modules/
/hybris/bin/**/gensrc/
/hybris/data/
/hybris/temp/
/hybris/log/
/hybris/bin/custom/**/classes/
build.xml
*.xsd
*-testclasses.xml
platformhome.properties
*_bof.jar
*-webtestclasses.xml
*.build.number

### IntelliJ ###
/.idea/
/idea-module-files/
/hybris/config/hybris4intellij.properties

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
