/hybris/config/custom.properties
/hybris/bin/platform/
/hybris/bin/modules/
/hybris/bin/**/gensrc/
/hybris/data/
/hybris/temp/
/hybris/log/
/hybris/bin/custom/**/classes/
/hybris/bin/custom/mulitcountry/**/build.xml

*.xsd
*-testclasses.xml
platformhome.properties
*_bof.jar
*-webtestclasses.xml
*.build.number
/.idea/
/idea-module-files/
/hybris/config/hybris4intellij.properties
