.y-tablerow-header-context {
  font-size: larger;
  font-weight: bold;
}

.yw-compareview-context-attribute-name-label {
  margin-left: 1em;
}

.yw-compareview-context-attribute-value .yw-compareview-cell-content span {
  margin-left: 1em !important;
}